/* Temas del segundo período*/

.texto{
   
    font-size: 40px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(20, 20, 20);
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondos.jpg.webp");
    

}
.titulo{
    font-size: 60px;
    color: black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.imgtec3{
    height: 2000px;
    width: 900px;
    background-image: url(tecnologia3peng.jpg);
    background-repeat: no-repeat;
    float: right;


}





.imging3,png.png{
    height: 2000px;
    width: 900px;
    background-image: url(tecnologia3peng.jpg);
    background-repeat: no-repeat;
    float: right;


}

.imag.1.png{height: 2000px;
    width: 900px;
    background-image: url(imag.1.png);
    background-repeat: no-repeat;
    float: right;

}



    









    
    


    
    



